# Node modules
node_modules/
backend/node_modules/
frontend/node_modules/

# Environment variables
.env
backend/.env
frontend/.env

# Build files
dist/
build/
frontend/dist/

# OS & editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log
npm-debug.log*
yarn-debug.log*

# Vite cache
.vite/
frontend/.vite/
.cache/

# Uploads or temp files
uploads/
uploads/*

# Optional
# package-lock.json
